{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h1 class="mb-4">Dashboard</h1>

<div class="row">

    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5>Total Income</h5>
                <h3>₹{{ total_income }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5>Total Expenses</h5>
                <h3>₹{{ total_expenses }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5>Current Balance</h5>
                <h3>₹{{ balance }}</h3>
            </div>
        </div>
    </div>

</div>

<hr>

<h3>Recent Transactions</h3>

<table class="table">

    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Category</th>
            <th>Amount</th>
        </tr>
    </thead>

    <tbody>

    {% for transaction in recent_transactions %}

        <tr>
            <td>{{ transaction.transaction_date }}</td>
            <td>{{ transaction.transaction_type }}</td>
            <td>{{ transaction.category }}</td>
            <td>₹{{ transaction.amount }}</td>
        </tr>

    {% empty %}

        <tr>
            <td colspan="4">
                No transactions available.
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>
<hr>
<div class="card mt-4">
    <div class="card-header">
        Expenses by Category
    </div>

    <div class="card-body">
        <div style="width:500px; height:400px; margin:auto;">
            <canvas id="categoryChart"></canvas>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

document.addEventListener(
    'DOMContentLoaded',
    function () {

        const ctx =
            document.getElementById(
                'categoryChart'
            );

        console.log(ctx);

        new Chart(ctx, {

            type: 'pie',

            data: {

                labels:
                    {{ category_labels|safe }},

                datasets: [{

                    data:
                        {{ category_totals|safe }}

                }]
            }

        });
        

    }
);

</script>

{% endblock %}
